<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ipAddress" value="0.0.0.0"/>
		<add key="port" value="13000"/>
	</appSettings>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="REDACTEDPooling=true;Minimum Pool Size=0;Maximum Pool Size=100;Connection Lifetime=0;"/>
	</connectionStrings>
</configuration>